<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
    <div class="overlay"></div> <!-- Добавлено -->
    <ul class="menu-list">
        <li><a href="/index" class="menu-item">Главная</a></li>
        <li><a href="/entering_vacations" class="menu-item">Ввод отпусков</a></li>
        <li><a href="/list_employees" class="menu-item">Список сотрудников</a></li>
        <li><a href="/report_card" class="menu-item">График выходов</a></li>
    </ul>
</div>

<div class="container" style="margin-top: 80px;">
    <h1>Список сотрудников в отпуске</h1>

    <!-- Таблица -->
    <table class="employees-table">
        <thead>
        <tr>
            <th>Табельный номер</th>
            <th>Начало отпуска</th>
            <th>Окончание отпуска</th>
            <th>Выходные дни</th>
        </tr>
        </thead>
        <tbody>
        {% for emp in employees %}
        <tr>
            <td>{{ emp.service_number }}</td>
            <td>{{ emp.vacation_start }}</td>
            <td>{{ emp.vacation_end }}</td>
            <td>
                {% if emp.weekends %}
                {{ emp.weekends|length }} дн.
                {% else %}
                –
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.querySelector('.overlay').addEventListener('click', function() {
        document.getElementById('burger-checkbox').checked = false;
    });
</script>

</body>
</html>