<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="menu">
    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
    <label for="burger-checkbox" class="burger"></label>
    <div class="overlay"></div> <!-- Добавлено -->
    <ul class="menu-list">
        <li><a href="#" class="menu-item">Главная</a></li>
        <li><a href="/list_employees" class="menu-item">Список сотрудников</a></li>
        <li><a href="#" class="menu-item">Команда</a></li>
        <li><a href="#" class="menu-item">Контакты</a></li>
    </ul>
</div>


<div class="container" style="margin-top: 80px;">
    <h1>Список сотрудников в отпуске</h1>

    <tbody>
    {% for emp in employees %}
    <tr>
        <td>{{ emp.name }}</td>
        <td>{{ emp.vacation_start }}</td>
        <td>{{ emp.vacation_end }}</td>
        <td>
            {% if emp.weekends %}
            {{ emp.weekends|length }} дн. <br>
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</div>


<script>
    // Закрытие меню при клике на оверлей
    document.querySelector('.overlay').addEventListener('click', function() {
        document.getElementById('burger-checkbox').checked = false;
    });
</script>

</body>
</html>